<ng-template #languageModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Welcome!</h2>
    <ul class="langselect">
      <li class="active">
        <a href="javascript:void(0)" (click)="modal.dismiss('en')">
          {{ 'en' | translate }}
        </a>
      </li>
      <li dir="rtl">
        <a href="javascript:void(0)" (click)="modal.dismiss('ar')">
          {{ 'ar' | translate }}
        </a>
      </li>
    </ul>
    <h3 class="langtitle">Please select your language</h3>
  </div>
</ng-template>
