<app-header></app-header>
<section id="collections" *ngFor="let item of category; index as i; first as isFirst">
  <div [className]="i%2==0? 'collblk collbg1':'collblk collbg2'">
    <div class="container">
      <div class="prodflex">
        <div class="prodleft">
          <img height="50" src="{{imageurl+item.image}}" alt="">
        </div>
        <div class="prodright">
          <div class="colltitle">
            <!-- <h6>{{item.caption}}</h6> -->
            <h3>{{item.name}}</h3>
          </div>
          <div class="carorelative">
            <div [className]="i%2==0? 'swiper-container collcaro colcar1':'swiper-container collcaro colcar2'" [swiper]="i%2==0?config:configs">
              <div class="swiper-wrapper">

                <div class="swiper-slide" *ngFor="let pro of item.products;index as i;first as is">
                  <div class="collimg">
                    <a><img src="{{imageurl+pro.images[0].imageUrl}}" alt=""></a>
                  </div>
                  <div class="colldtls">
                    <h6><a>Nishomi- {{item.name}} {{pro.productCode}}</a></h6>
                    <!-- <h5>{{pro.type}} - {{pro.color}}</h5> -->
                    <div class="price-box">
                      <span class="old">SR {{pro.cost.toFixed(2)}}</span>
                      <span class="new">SR {{pro.cost.toFixed(2)}}</span>
                    </div>
                    <div class="quickview">
                      <a (click)="gotoDetails(pro.productId)">View Details</a>
                      <!-- <a (click)="open(mymodal);selectProduct(pro)">View Details</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collpage">
              <div [className]="i%2==0? 'swiper-button-next colcar1-next':'swiper-button-next colcar2-next'"></div>
              <div [className]="i%2==0? 'swiper-button-next colcar1-prev':'swiper-button-next colcar2-prev'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>