<app-header></app-header>
<section id="contact">
    <div class="container">
      <div class="blogDtl">
        <h2>Abaya: Then And Now</h2>
        <div class="date"><span>Sep 28th, 2020 by Admin</span></div>

        <div class="blogcontent">
          <div class="row  justify-content-md-cente">
            <div class="col-md-5">
             <img src="assets/images/blog01.jpg" alt="">
           </div>
           <div class="col-md-7">
             <p class="intro">A long cloak or robe, popularly known as Abaya, also referred to as Aba, Abah, all represent this everyday clothing that effortlessly covers the entire body.</p>
             <p>This apparel was initially worn by Islamic women all over the Middle East but now with the escalating demand of abaya globally, it is even worn as high fashion by non-Muslims. Typically black in color, now they come in different styles, with a majority of them embroidered.</p>
             <h3>Origin</h3>
             <p>Muslim women usually start wearing the abaya at the first sign of puberty. The rationale for the abaya is often attributed to the Quranic quote,</p>


           </div>
           <div class="col-md-12">
             <blockquote>
              <p>
                "O Prophet, tell your wives and daughters, and the believing women, to cover themselves with a loose garment. They will thus be recognized and no harm will come to them"
              </p>
              <cite class="quote-author">
               Qur'an 33:59
             </cite>
           </blockquote>
           
         </div>
         <div class="col-md-7">
          <p>This quotation is often given as the argument for wearing the abaya.</p>
           <h3>Abaya as a global outfit</h3>
           <p>The abayas come in different styles and are now paired with different clothing.
           They can be beaded and decorated with stylized cuts and prints. It is not uncommon to find abayas with hood, but the majority run from the shoulders downwards. Abayas are described as traditional hijabs.  They can be worn alongside other Islamic clothing, like the hijab or the niqab. Styles differ from region-wise:  some abayas have embroidery on black fabric whereas others are brightly colored and have different forms of artwork.</p>
           <p>The designer abaya has flourished in recent years, with luxury brands creating collections specifically for the Middle East.
           Many Arab abaya designers are exploring other grounds, deviating from classic blacks, and contemporary abayas featuring open fronts, and woven fabrics in neutral shades. Some are decorated with stripes, pearl beads, and floral embroidery.</p>
           <p>Abayas, now represent the personality, pride, and fashion sense of  Emirati women. They are no longer restricted to religious symbols, but also carry strong cultural implications that seem to be recognized which rightly explains the use of Emirati fashion across the globe. Abaya is now an outfit with its own independent standing and communicates a strong fashion statement. This journey through the ages communicates the emergence of the fashion trends of the Middle East with time.</p>
         </div>
         <div class="col-md-5">
           <img src="assets/images/abtimg02.jpg" alt="">
         </div>
       </div>

     </div>
   </div>
 </div>

</section>
<app-footer></app-footer>