<app-header></app-header>
<section id="contact">
    <div class="container">
      <div class="blogDtl">
        <h2>{{ 'abaya_then_and_now' | translate }}</h2>
        <div class="date"><span>{{ 'blog1_published_date_and_author' | translate }}</span></div>
        <div class="blogcontent">
          <div class="row  justify-content-md-cente">
            <div class="col-md-5">
             <img src="assets/images/blog01.jpg" alt="">
           </div>
           <div class="col-md-7">
             <p class="intro">{{ 'abaya_then_and_now_desc1' | translate }}</p>
             <p>{{ 'abaya_then_and_now_desc2' | translate }}</p>
             <h3>{{ 'origin' | translate }}</h3>
             <p>{{ 'origin_desc' | translate }}</p>
           </div>
           <div class="col-md-12">
             <blockquote>
              <p>
                {{ 'origin_quote' | translate }}
              </p>
              <cite class="quote-author">
                {{ 'origin_quote_author' | translate }}
             </cite>
           </blockquote>
         </div>
         <div class="col-md-7">
          <p>{{ 'origin_quote_desc' | translate }}</p>
           <h3>{{ 'as_global_outfit' | translate }}</h3>
           <p>{{ 'as_global_outfit_desc1' | translate }}</p>
           <p>{{ 'as_global_outfit_desc2' | translate }}</p>
           <p>{{ 'as_global_outfit_desc3' | translate }}</p>
         </div>
         <div class="col-md-5">
           <img src="assets/images/abtimg02.jpg" alt="">
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
<app-footer></app-footer>
