<footer>
    <div class="container">
      <div class="foologo">
        <a href="index.html"><img src="assets/images/foologo.svg" alt=""></a>
        <p>NishOmi combines original designs and meticulously chosen fabric to instantly speak the language of elegance, luxury, and modest fashion.</p>
      </div>
      <div class="foonav">
        <ul>
          <li>
            <a routerLink="/home">Home</a>
            <a routerLink="/story">Our Story</a>
          </li>
          <li>
            <a routerLink="/products">Our Products</a>
            <a routerLink="/blogs">Blog</a>
          </li>
          <li>
            <a routerLink="/privacy">Privacy Policy</a>
            <a routerLink="/terms">Terms & Conditions</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      
    </div>
    <div class="container">
      <div class="copyright">
        <h6>&copy; 2020 Nishomi Abayas</h6>
      </div>
      <div class="foosocial">
        <a href="https://www.facebook.com/nishomiabayas/" target="_blank"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/nishomiabayas/" target="_blank"><i class="icofont-instagram"></i></a>
        <a href="#" target="_blank"><i class="icofont-twitter"></i></a>
        <a href="#" target="_blank"><i class="icofont-brand-youtube"></i></a>
      </div>
    </div>
  </footer>