<footer>
    <div class="container">
      <div class="foologo">
        <a href="index.html"><img src="assets/images/foologo.svg" alt=""></a>
        <p>{{ 'footer_desc' | translate }}</p>
      </div>
      <div class="foonav">
        <ul>
          <li>
            <a routerLink="/home">{{ 'home' | translate }}</a>
            <a routerLink="/story">{{ 'our_story' | translate }}</a>
          </li>
          <li>
            <a routerLink="/products">{{ 'our_products' | translate }}</a>
            <a routerLink="/blogs">{{ 'blogs' | translate }}</a>
          </li>
          <li>
            <a routerLink="/privacy">{{ 'privacy_policy' | translate }}</a>
            <a routerLink="/terms">{{ 'terms_and_conditions' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>

    </div>
    <div class="container">
      <div class="copyright">
        <h6>{{ 'copyright' | translate }}</h6>
      </div>
      <div class="foosocial">
        <a href="https://www.facebook.com/nishomiabayas/" target="_blank"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/nishomiabayas/" target="_blank"><i class="icofont-instagram"></i></a>
        <a href="https://twitter.com/nish_omi" target="_blank"><i class="icofont-twitter"></i></a>
        <!-- <a href="#" target="_blank"><i class="icofont-brand-youtube"></i></a> -->
        <a href="https://wa.me/message/F2AY4XXIBMCYB1" target="_blank"><i class="icofont-brand-whatsapp"></i></a>
      </div>
    </div>
  </footer>
