<app-header></app-header>
<section id="contact">
    <div class="container">
      <div class="blogDtl">
        <h2>{{ 'about_sleeves' | translate }}</h2>
        <div class="date"><span>{{ 'blog2_published_date_and_author' | translate }}</span></div>

        <div class="blogcontent">
          <div class="row  justify-content-md-cente">
            <div class="col-md-5">
             <img src="assets/images/blog02.jpg" alt="">
           </div>
           <div class="col-md-7">
            <p class="intro">{{ 'about_sleeves_desc1' | translate }}</p>
            <p>{{ 'about_sleeves_desc2' | translate }}</p>
            <p>{{ 'about_sleeves_desc3' | translate }}</p>
            <p>{{ 'about_sleeves_desc4' | translate }}</p>
            <p>{{ 'about_sleeves_desc5' | translate }}</p>
          </div>
          <div class="col-md-7">
            <p>{{ 'about_sleeves_desc6' | translate }}</p>
            <p>{{ 'about_sleeves_desc7' | translate }}</p>
            <p>{{ 'about_sleeves_desc8' | translate }}</p>
            <p>{{ 'about_sleeves_desc9' | translate }}</p>
            <p>{{ 'about_sleeves_desc10' | translate }}</p>
            <p>{{ 'about_sleeves_desc11' | translate }}</p>
          </div>
          <div class="col-md-5">
            <img src="assets/images/blog002.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
 <app-footer></app-footer>
