<div mat-dialog-content>
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row">
                <div class="col-md-6">
                  <div class="swiper-container topprod">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="assets/images/products/10.jpg" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img src="assets/images/products/11.jpg" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img src="assets/images/products/12.jpg" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img src="assets/images/products/13.jpg" alt="">
                      </div>
                    </div>
                    <div class="prodpage"></div>
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="prodpop">
                    <h5>Ready to wear</h5>
                    <h2>Luxury chiffon Abaya</h2>
                    <div class="price-box">
                      <span class="new">SR 225.00</span>
                    </div>
                    <p>The white fabric accentuated by the olive green button work defines elegance. The green detail in the sleeves adds a flair of style to the piece, making it a perfect addition of a white robe to your wardrobe.</p>
                    <div class="pr_switch_wrap">
                      <span class="switch_lable">Color</span>
                      <div class="product_color_switch">
                        <span class="active" data-color="#87554B" style="background-color:#8f8583;"></span>
                        <span data-color="#333333" style="background-color: #9cb5b9"></span>
                        <span data-color="#DA323F" style="background-color: #000"></span>
                      </div>
                    </div>
                    <div class="pr_switch_wrap">
                      <span class="switch_lable">Size</span>
                      <div class="product_size_switch">
                        <span>m</span>
                        <span>l</span>
                        <span>xl</span>
                        <span>xxl</span>
                      </div>
                    </div>
                    <div class="interestbtn">
                      <button class="btn btn-fill-out btn-addtocart" type="button"  data-toggle="modal" href="#myModal2">Request Interest</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button>
</div>