<app-header></app-header>
<section id="contact">
  <div class="container">
    <div class="policy">
      <h2>{{ 'terms_of_use' | translate }}</h2>
      <p>{{ 'terms_of_use_desc1' | translate }} <a href="privacypolicy.html" target="_self">{{ 'privacy_policy' | translate }}</a>.</p>
      <h3>{{ 'terms_of_use_subtitle1' | translate }}</h3>
      <p>{{ 'terms_of_use_1_desc1' | translate }}</p>
      <h3>{{ 'terms_of_use_subtitle2' | translate }}</h3>
      <p>{{ 'terms_of_use_2_desc1' | translate }}</p>
      <h3>{{ 'terms_of_use_subtitle3' | translate }}</h3>
      <p>{{ 'terms_of_use_3_desc1' | translate }}</p>
      <h3>{{ 'terms_of_use_subtitle4' | translate }}</h3>
      <p>{{ 'terms_of_use_4_desc1' | translate }}</p>
      <h3>{{ 'terms_of_use_subtitle5' | translate }}</h3>
      <p>{{ 'terms_of_use_5_desc1' | translate }}</p>
      <address>
        {{ 'location_address_line1' | translate }}<br>
        {{ 'location_address_line2' | translate }}<br>
        {{ 'location_address_line3' | translate }}<br>
        {{ 'location_address_line4' | translate }}<br>
        <a href="mailto:info@nishomiabayas.com" target="_self" data-content="info@nishomiabayas.com" data-type="mail"> info@nishomiabayas.com</a>
      </address>
      <h3>{{ 'terms_of_use_subtitle6' | translate }}</h3>
      <p>{{ 'terms_of_use_6_desc1' | translate }}</p>
      <h3>{{ 'terms_of_use_subtitle7' | translate }}</h3>
      <p>{{ 'terms_of_use_7_desc1' | translate }}</p>
      <h3>{{ 'terms_of_use_subtitle8' | translate }}</h3>
      <p>{{ 'terms_of_use_8_desc1' | translate }}</p>
      <h3>{{ 'terms_of_use_subtitle9' | translate }}</h3>
      <p>{{ 'terms_of_use_9_desc1.1' | translate }}<a href="privacypolicy.html">{{ 'privacy_policy' | translate }}</a>{{ 'terms_of_use_9_desc1.2' | translate }}</p>
    </div>
  </div>
 </section>
 <app-footer></app-footer>
