<head></head>
<body>
    <app-header></app-header>
    <section class="mainbanner">
      <div class="swiper-container topprod">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/slid01.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/images/slid02.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/images/slid03.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/images/slid04.jpg" alt="">
          </div>
        </div>
        <div class="bannpage swiper-pagination-clickable swiper-pagination-bullets"></div>
      </div>
    </section>
    <section class="hmeproduct">
      <div class="titleblk txtcenter">
       <h6>{{ 'featured_products' | translate }}</h6>
       <h1>{{ 'choice_for' | translate }} <span>{{ 'elegance_and_glamour' | translate }}</span></h1>
     </div>
     <div class="caroprod">
      <div class="swiper-container one">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let item of featuredproducts">
            <div class="hmeprsing">
              <a (click)="gotoDetails(item.productId)"><img src="{{imageurl+item.images[0].imageUrl}}" alt=""><span  [className]="!item.caption?'':item.caption=='Limited'?'limited':item.caption=='New'?'new':'best'">{{item.caption}}</span></a>
              <div class="hmeprsingdtl">
                <!-- <h6><a href="">{{item.categoryName}}</a></h6>
                <h3><a href="">{{item.name}}</a></h3> -->
                <h3><a (click)="gotoDetails(item.productId)">{{ 'nishomi' | translate }} - {{item['categoryName' + langKey]}} {{ item['productCode' + langKey]}}</a></h3>
                <p>{{item['description' + langKey]}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="prodpage"></div>
      </div>
    </div>
    </section>
    <section id="hmecatynew">
      <div class="half" *ngFor="let item of categories">
        <a routerLink="/products" fragment={{item.categoryId}}><img src="{{imageurl+item.url}}" alt=""></a>
        <div class="caroblkdtls">
          <h3>{{item['name' + langKey]}}</h3>
          <a (click)="gotoCategory(item.categoryId)">{{ 'explore_category' | translate }}</a>
        </div>
      </div>
      <!-- <div class="half">
        <a href=""><img src="assets/images/hmecate2.png" alt=""></a>
        <div class="caroblkdtls">
          <h3>Party Wear</h3>
          <a href="">Explore The Category</a>
        </div>
      </div> -->

    </section>

    <section class="story">
    <div class="container">
      <div class="banntxt">
        <h6>{{ 'our_story' | translate }}</h6>
        <h1>{{ 'say_yes_to' | translate }} <span>{{ 'concious_style' | translate }}</span></h1>
        <p>{{ 'our_story_draft' | translate }}</p>
        <a routerLink="/story">{{ 'read_more' | translate }}</a>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <canvas id="particles"></canvas>
    </section>
    <section class="hmeblog">
      <div class="container">
        <div class="titleblk">
          <h6>{{ 'blog_posts' | translate }}</h6>
          <h1 class="inline">{{ 'blossom_by_blossom' | translate }} <span>{{ 'spring_begins' | translate }}</span></h1>
        </div>
        <ul>
          <li>
            <div class="hmeblksg">
              <img src="assets/images/blog01.jpg" alt="">
              <a routerLink="/abaya" class="linkblog"></a>
              <div class="blkgdtl">
                <h6>{{ 'blog_post' | translate | uppercase }}</h6>
                <a routerLink="/abaya"><h3>{{ 'abaya_then_and_now' | translate | uppercase }}</h3></a>
                <p>{{ 'abaya_then_and_now_desc1' | translate }}</p>
              </div>
            </div>
          </li>
          <li>
            <div class="hmeblksg">
              <img src="assets/images/blog02.jpg" alt="">
              <a routerLink="/sleeves" class="linkblog"></a>
              <div class="blkgdtl">
                <h6>{{ 'blog_post' | translate | uppercase }}</h6>
                <a routerLink="/sleeves"><h3>{{ 'about_sleeves' | translate | uppercase }}</h3></a>
                <p>{{ 'about_sleeves_desc1' | translate }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <app-footer></app-footer>
    </body>
