<body>
    <app-header></app-header>
    <section class="mainbanner">
      <div class="swiper-container topprod" [swiper]="catconfig">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/slid01.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/images/slid02.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/images/slid03.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="assets/images/slid04.jpg" alt="">
          </div>
        </div>
        <div class="bannpage"></div>
      </div>
    </section>
    <section class="hmeproduct">
      <div class="titleblk txtcenter">
       <h6>Featured Products</h6>
       <h1>Your choice for <span>elegance and glamour.</span></h1>
     </div>
     <div class="caroprod">
      <div class="swiper-container one" [swiper]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let item of featuredproducts">
            <div class="hmeprsing">
              <a href=""><img src="{{imageurl+item.images[0].imageUrl}}" alt=""><span  [className]="!item.caption?'':item.caption=='Limited'?'limited':item.caption=='New'?'new':'best'">{{item.caption}}</span></a>
              <div class="hmeprsingdtl">
                <h6><a href="">{{item.categoryName}}</a></h6>
                <h3><a href="">{{item.name}}</a></h3>
                <p>{{item.description}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="prodpage"></div>
      </div>
    </div>
    </section>
    <section class="prodcaro">
    <div class="container">
      <div class="hmecaro">
        <div class="caroblk">
          <div class="swiper-container two" [swiper]="catconfig">
            <div class="swiper-wrapper"> 
              <div class="swiper-slide" *ngFor="let item of categories; index as i; first as isFirst">
                <div class="prosingle">
                  <img src="{{imageurl+item.url}}" alt={{item.caption}}>
                  <div class="caroftls">
                    <h4>{{item.name}}</h4>
                    <p>{{item.description}}</p>
                    <a routerLink="/products">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div> 
        </div>
        <div class="titleblk carodtls">
          <h6>Product Categories</h6>
          <h1>Wide range of products to <span>choose from.</span></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. </p>
          <a routerLink="/products">View Products</a>
        </div>
      </div>
    </div>
    </section>
    
    <section class="story">
    <div class="container">
      <div class="banntxt">
        <h6>Our Story</h6>
        <h1>Say yes to <span>conscious style.</span></h1>
        <p>Abaya reflects the personality, pride and sense of fashion of Arabic women which now has emerged to create a space of its own globally. Drawing inspiration from these aspects, NishOmi explores the untapped creativity and aesthetics that could add more to this piece of clothing. The aim is to capture the heritage, global appeal, and modesty through details, novel cuts, and styles.</p>
        <a routerLink="/story">Read More</a>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <canvas id="particles"></canvas>
    </section>
    <section class="hmeblog">
    <div class="container">
      <div class="titleblk">
        <h6>Blogposts</h6>
        <h1 class="inline">Blossom by blossom <span>spring begins.</span></h1>
      </div>
      <ul>
        <li>
          <div class="hmeblksg">
            <img src="assets/images/blog01.jpg" alt="">
            <div class="blkgdtl">
              <a href=""></a>
              <h6>blogpost</h6>
              <h3>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar.</h3>
              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="twohalf">
            <div class="hmeblksg">
              <img src="assets/images/blog02.jpg" alt="">
              <div class="blkgdtl">
                <a href=""></a>
                <h6>blogpost</h6>
                <h3>NishOmi Designer Abayas</h3>
              </div>
            </div>
            <div class="hmeblksg">
              <img src="assets/images/blog02.jpg" alt="">
              <div class="blkgdtl">
                <a href=""></a>
                <h6>blogpost</h6>
                <h3>NishOmi Designer Abayas</h3>
              </div>
            </div>
          </div>
          <div class="hmeblksg">
            <img src="assets/images/blog03.jpg" alt="">
            <div class="blkgdtl">
              <a href=""></a>
              <h6>blogpost</h6>
              <h3>NishOmi Designer Abayas</h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </section>
    <app-footer></app-footer>
    </body>