<app-header></app-header>
<section id="contact">
    <div class="container">
      <div class="policy">
        <h2>{{ 'privacy_policy' | translate }} <span>{{ 'privacy_policy_effective_date' | translate }}</span></h2>
        <p>{{ 'privacy_policy_desc1.1' | translate }}<a href="terms.html" target="_self">{{ 'terms_and_conditions' | translate }}</a> {{ 'privacy_policy_desc1.2' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle1' | translate }}</h3>
        <p>{{ 'privacy_policy_1_desc1' | translate }}</p>
        <p>{{ 'privacy_policy_1_desc2' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle2' | translate }}</h3>
        <p>{{ 'privacy_policy_2_desc1' | translate }}</p>
        <p>{{ 'privacy_policy_2_desc2' | translate }}</p>
        ​<h3>{{ 'privacy_policy_subtitle3' | translate }}</h3>
        <p>{{ 'privacy_policy_3_desc1' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle4' | translate }}</h3>
        <p>{{ 'privacy_policy_4_desc1' | translate }}</p>
        <p>{{ 'privacy_policy_4_desc2' | translate }}</p>
        <p>{{ 'privacy_policy_4_desc3' | translate }}</p>
        <p>{{ 'privacy_policy_4_desc4' | translate }}</p>
        <ul>
          <li>{{ 'privacy_policy_4_info1' | translate }}</li>
          <li>{{ 'privacy_policy_4_info2' | translate }}</li>
          <li>{{ 'privacy_policy_4_info3' | translate }}</li>
          <li>{{ 'privacy_policy_4_info4' | translate }}</li>
          <li>{{ 'privacy_policy_4_info5' | translate }}<a href="terms.html" target="_self">Terms & Conditions</a>;</li>
          <li>{{ 'privacy_policy_4_info6' | translate }}</li>
          <li>{{ 'privacy_policy_4_info7' | translate }}</li>
          <li>{{ 'privacy_policy_4_info8' | translate }}</li>
          <li>{{ 'privacy_policy_4_info9' | translate }}</li>
        </ul>
        <p>{{ 'privacy_policy_4_desc5' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle5' | translate }}</h3>
        <p>{{ 'privacy_policy_5_desc1' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle6' | translate }}</h3>
        <p>{{ 'privacy_policy_6_desc1' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle7' | translate }}</h3>
        <p>{{ 'privacy_policy_7_desc1' | translate }}</p>
        <p>{{ 'privacy_policy_7_desc2' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle8' | translate }}</h3>
        <p>{{ 'privacy_policy_8_desc1' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle9' | translate }}</h3>
        <p>{{ 'privacy_policy_9_desc1' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle10' | translate }}</h3>
        <p>{{ 'privacy_policy_10_desc1' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle11' | translate }}</h3>
        <p>{{ 'privacy_policy_11_desc1.1' | translate }}<a href="mailto:info@nishOmi.com" target="_self" data-content="info@nishOmi.com" data-type="mail"> info@nishOmi.com</a>.{{ 'privacy_policy_11_desc1.2' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle12' | translate }}</h3>
        <p>{{ 'privacy_policy_12_desc1.1' | translate }}<a href="mailto:info@nishomiabayas.com" target="_self" data-content="info@nishomiabayas.com" data-type="mail"> info@nishomiabayas.com</a>. {{ 'privacy_policy_12_desc1.2' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle13' | translate }}</h3>
        <p>{{ 'privacy_policy_13_desc1' | translate }}</p>
        <h3>{{ 'privacy_policy_subtitle14' | translate }}</h3>
        <p>{{ 'privacy_policy_14_desc1' | translate }}</p>
        <address>
          {{ 'location_address_line1' | translate }}<br>
          {{ 'location_address_line2' | translate }}<br>
          {{ 'location_address_line3' | translate }}<br>
          {{ 'location_address_line4' | translate }}<br>
        <a href="mailto:info@nishomiabayas.com" target="_self" data-content="info@nishomiabayas.com" data-type="mail"> info@nishomiabayas.com</a>
       </address>
     </div>
   </div>
 </section>
<app-footer></app-footer>
