<app-header></app-header>
<section id="contact">
    <div class="container">
      <ul class="bloglist">
        <li>
          <div class="postimg">
            <a routerLink="/abaya"><img src="assets/images/blog01.jpg" alt=""></a>
          </div>
          <div class="postdtls">
            <h6 style="background-color: #4ca80b">{{ 'fashion' | translate | uppercase }}</h6>
            <h3><a routerLink="/abaya">{{ 'abaya_then_and_now' | translate | uppercase }}</a></h3>
            <p>{{ 'abaya_then_and_now_desc1' | translate }}</p>
            <a routerLink="/abaya">{{ 'read_more' | translate }}<i class="icofont-simple-right"></i></a>
          </div>
        </li>
        <li>
          <div class="postimg">
            <a routerLink="/sleeves"><img src="assets/images/blog02.jpg" alt=""></a>
          </div>
          <div class="postdtls">
            <h6 style="background-color: #fc4a00">{{ 'inspiration' | translate | uppercase }}</h6>
            <h3><a routerLink="/sleeves">{{ 'about_sleeves' | translate | uppercase }}</a></h3>
            <p>{{ 'about_sleeves_desc1' | translate }}</p>
            <a routerLink="/sleeves">{{ 'read_more' | translate }} <i class="icofont-simple-right"></i></a>
          </div>
        </li>
      </ul>
    </div>

  </section>
<app-footer></app-footer>
