html body {
  text-align: left;
}
.fast-text {
  padding-left: 6%;
  border-left: 1px solid #ccc;
}
.titleblk ul li {
  padding-left: 20px;
}
.titleblk ul li:before {
  left: 0;
}
.blogcontent blockquote p {
  padding-left: 60px;
  border-left: 3px solid #e7b51f;
}
cite {
  padding-left: 60px;
  text-align: left;
}
.bloglist li .postimg {
  margin-right:50px;
}
.swiper-container, .swiper-wrapper, .slick-slider .slick-track, .slick-slider .slick-list {
  direction: ltr;
}
.btnbuy, .btnbuy:hover {
  margin-right: 10px;
}
.sizeabaya h6, .quantity h6 {
  margin-right: 15px;
}
.size-list .size_item {
  margin: 0 15px 0 0;
}
.product-meta li span.value {
  margin-left: 4px;
}
.story .banntxt {
  text-align: left;
}
.caroblkdtls > a:after {
  margin-left: 12px;
  transform: rotate(0deg);
}
.bloglist li .postdtls > a:after {
  margin-left: 12px;
  transform: rotate(0deg);
}
header .sub li a:after {
  margin-left: 12px;
  transform: rotate(0deg);
}
.hmeproduct .caroprod {
  margin-left: 3%;
}
.title-box h3 {
  padding-left: 15px;
}
.title-box h3:before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 3px;
  height: 20px;
  background: #ffbf00;
  content: "";
}
.quick-contact-box ul li:first-child,
.quick-contact-box ul li:nth-child(2),
.quick-contact-box ul li:nth-child(3),
.quick-contact-box ul li:nth-child(4) {
  padding-left: 35px;
  background-position: left center;
}
.policy ul {
  margin-left: 20px;
}
.policy ul li,
.policy address {
  text-align: left;
}
.termsblk label {
  margin-left: 5px;
}
.hmeprsing .hmeprsingdtl {
  text-align: left;
}
.story {
  background: #ccc url(assets/images/en/bg-about01.jpg) no-repeat top center fixed;
}
header .social a.lang {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid rgba(255,255,255,0.2);
}
.collcaro .colldtls {
  text-align: left;
}
#collections:nth-child(odd) .collblk .prodflex .prodright {
  padding-left: 40px;
}
#collections:nth-child(even) .collblk .prodflex .prodright {
  padding-right: 40px;
}
@media only screen and (max-width: 1024px) {
  .story {
    background: #ccc url(assets/images/en/bg-about01.jpg) no-repeat top center fixed;
  }
}
@media only screen and (max-width: 991px) {
  .story {
    background: #ccc url(assets/images/en/bg-about01.jpg) no-repeat top center;
  }
}
@media only screen and (max-width: 767px) {
  .story {
    background: #fff url(assets/images/en/bg-about01.jpg) no-repeat top left;
  }
}
