.product-details#contact {
  padding-bottom: 40px;
}

.error {
  color: #FF0000;
  font-size: 12px;
  font-style: italic;
}

.no-action {
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
.customsize input::-webkit-outer-spin-button,
.customsize input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.customsize input[type=number] {
  -moz-appearance: textfield;
}
