<app-header></app-header>
<section id="story">
    <div class="container">
      <div class="row">
        <div class="half">
          <img class="cover" src="assets/images/about.png" alt="">
        </div>
        <div class="half aboutdtl">
          <h2>{{ 'story_title' | translate }}</h2>
          <h6>{{ 'story_subtitle' | translate | uppercase }}</h6>
          <p>{{ 'traditional_elegance_details' | translate }}</p>
          <div class="toppadding_40 visible-lg"></div>
          <div class="content-justify v-center v-spacing"> <img src="assets/images/stamps.png" alt=""> </div>
        </div>
      </div>
      <div class="fast-text-container row">
        <div class="col-md-2">
          <h2>{{ 'our_founders' | translate }}</h2>
        </div>
        <div class="fast-text col-md-10">
          <p>{{ 'founder_shemi_desc' | translate }}</p>
          <p>{{ 'founder_nisha_desc' | translate }}</p>
        </div>
      </div>
      <div class="vision">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/images/abtimg01.jpg" alt="" class="img-fluid">
            <!-- <img src="assets/images/abtimg02.jpg" alt="" class="over"> -->
          </div>
          <div class="col-md-8">
            <img src="assets/images/icons/vision.jpg" alt="">
            <h2>{{ 'our_story' | translate }}</h2>
            <p>{{ 'our_story_desc1' | translate }}</p>
            <p>{{ 'our_story_desc2' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
