<app-header></app-header>
<section id="story">
    <div class="container">
      <div class="row">
        <div class="half">
          <img class="cover" src="assets/images/about.png" alt="">
        </div>
        <div class="half aboutdtl">
          <h2>NishOmi Abayas</h2>
          <h6>for traditional Elegance</h6>
          <p>NishOmi combines original designs and meticulously chosen fabric to instantly speak the language of elegance, luxury, and modest fashion. Every piece is designed to be the best of its kind with premium quality and matchless designs dedicated to celebrating women. Rooted in a passion for couture, NishOmi aims to bring sophistication to make every day your most fashionable day.</p>
          <div class="toppadding_40 visible-lg"></div>
          <div class="content-justify v-center v-spacing"> <img src="assets/images/stamps.png" alt=""> </div>
        </div>
      </div>
      <div class="fast-text-container row">
        <div class="col-md-2">
          <h2>Our Founders</h2>
        </div>
        <div class="fast-text col-md-10">
          <p>Shemi is the dreamer among the two. She traces back her love for clothing and fashion to her childhood and teenage years. Hailing from Kerala-India, she spent time in experimenting with traditional attires. Resonating with the collective goal, tapping on Islamic fashion, and discovering its potential globally is indeed a dream come true for her. She finds joy in the smile of contentment on her customers.</p>
          <p>Nisha, originally a Malayali from India, is a passionate entrepreneur who is driven by the principles of creativity and hard work. She finds immense satisfaction in finding novelty in the designs and modernity in clothing. Excited and thrilled as they progress, Nisha, is definitely the doer strongly guided by the passion for fashion and thrill in introducing original designs to the market.</p>
        </div>
      </div>
      <div class="vision">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/images/abtimg01.jpg" alt="" class="img-fluid">
            <img src="assets/images/abtimg02.jpg" alt="" class="over">
          </div>
          <div class="col-md-8">
            <img src="assets/images/icons/vision.jpg" alt="">
            <h2>Our Story</h2>
            <p>Our story began in YYYY, when Nisha and Shemi, who met by chance at Fujairah, bonded over their love for clothing and style, inspiring them to launch NishOmi. Their friendship and passion joined hands with the Emirati culture and Islamic tradition to line a luxury collection of Abayas. In a short span of xyz months, NishOmi has won hearts with its modest sensibility and flair for variety.</p>
            <p>Abaya reflects the personality, pride and sense of fashion of Arabic women which now has emerged to create a space of its own globally. Drawing inspiration from these aspects, NishOmi explores the untapped creativity and aesthetics that could add more to this piece of clothing. The aim is to capture the heritage, global appeal, and modesty through details, novel cuts, and styles.
              In their journey of creating a trend in Islamic fashion for women, NishOmi leaves a benchmark by being an exquisite women’s brand, in terms of ownership, management, and clientele.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>